<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 스프링이 @Component, @Controller, @Service, @Repository 객체를 생성하는 패키지 설정 -->
	<context:component-scan base-package="kr.co.mlec" />
	<mvc:annotation-driven>
		<mvc:message-converters>
			<!-- 여기서 bean 태그는 지정된 class 속성 값에 해당하는 하나의 객체를 만들고 id 속성 값으로 객체명을 만들라는 의미 -->
			<!-- ResponseBody에서 넘겨주는 값의 Encoding을 변환해주는 bean 생성 -->
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html; charset=utf-8</value>
					</list>
				</property>
			</bean>
			<!-- json 처리를 위한 bean 생성 -->
			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html; charset=utf-8</value>
						<value>application/json; charset=utf-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	<mvc:default-servlet-handler />
	
	<!-- 오라클 DB -->
	<bean id="dataSource"
	      class="org.apache.commons.dbcp.BasicDataSource" 
	      destroy-method="close">
	      <!-- property는 setter를 의미 -->
	      <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
	      <property name="url" value="jdbc:oracle:thin:@localhost:1521/ORACLEDB"/>
	      <property name="username" value="bdwrtr" />
	      <property name="password" value="oracle12!@" />
    </bean>
	
	<mvc:view-resolvers>
		<mvc:jsp prefix="/WEB-INF/jsp/" suffix=".jsp" />
	</mvc:view-resolvers>

</beans>